<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="generalFormGroup">
    <h3 class="new-facility-form">General information about your company</h3>
    <form [formGroup]="generalFormGroup" class="new-facility-form">
      <ng-template matStepLabel>Company information</ng-template>
      <mat-form-field class="new-facility-input">
        <mat-label>Company Name</mat-label>
        <input matInput placeholder="Company name" formControlName="companyCtrl" required>
      </mat-form-field>
      <mat-form-field class="new-facility-input">
        <mat-label>Your Name and Surname</mat-label>
        <input matInput placeholder="First name, Last name" formControlName="nameCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone Country</mat-label>
        <mat-select formControlName="phoneCountryCtrl" required>
          <mat-option *ngFor="let country of countries" [value]="country.name">
            {{country.displayName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="new-facility-input">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone Number" formControlName="phoneCtrl" required>
      </mat-form-field>
      <div>
        <button mat-stroked-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="generalFormGroup">
    <h3 class="new-facility-form">What is the main category of your company? Allow your clients to find you easily!</h3>
    <form [formGroup]="generalFormGroup" class="new-facility-form">
      <ng-template matStepLabel>Company category</ng-template>
      <div>
        <button mat-stroked-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="addressFormGroup">
    <form [formGroup]="addressFormGroup" class="new-facility-form">
      <ng-template matStepLabel>Your Address</ng-template>
      <mat-form-field class="new-facility-input">
        <mat-label>Street Name</mat-label>
        <input matInput placeholder="Street Name" formControlName="streetNameCtrl">
      </mat-form-field>
      <mat-form-field class="new-facility-input">
        <mat-label>Street Number</mat-label>
        <input matInput placeholder="Street Number" formControlName="streetNumberCtrl">
      </mat-form-field>
      <mat-form-field class="new-facility-input">
        <mat-label>Apartment Number</mat-label>
        <input matInput placeholder="Apartment Number" formControlName="apartmentNumberCtrl">
      </mat-form-field>
      <mat-form-field class="new-facility-input">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" formControlName="cityCtrl" required>
      </mat-form-field>
      <mat-form-field class="new-facility-input">
        <mat-label>Zip Code</mat-label>
        <input matInput placeholder="Zip Code" formControlName="zipCodeCtrl" required>
      </mat-form-field>
      <mat-form-field class="new-facility-input">
        <mat-label>Country</mat-label>
        <mat-select formControlName="countryCtrl" required>
          <mat-option *ngFor="let country of countries" [value]="country.name">
            {{country.displayName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-stroked-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="workModeFormGroup">
    <h3 class="new-facility-form">Do you provide on-client-site visits? Do you provide services in your address?</h3>
    <form [formGroup]="workModeFormGroup" class="new-facility-form">
      <ng-template matStepLabel>Work mode</ng-template>

      <div class="visit-config-box">
        <mat-checkbox class="new-facility-input" formControlName="stationaryCtrl">Service in premises</mat-checkbox>

        <mat-checkbox class="new-facility-input" formControlName="onSiteVisitCtrl">On client site visit</mat-checkbox>
      </div>

      <div *ngIf="workModeFormGroup.controls['onSiteVisitCtrl'].value">
        <mat-form-field class="new-facility-input">
          <mat-label>Visit radius</mat-label>
          <input matInput placeholder="Max visit distance" formControlName="maxDistanceCtrl" required>
        </mat-form-field>
        <mat-form-field class="new-facility-input">
          <mat-label>On site visit payment</mat-label>
          <mat-select formControlName="paymentTypeCtrl" required>
            <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType">
              {{paymentType}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="new-facility-input" *ngIf="shouldShowPaymentValueField()">
          <mat-label>Visit payment value</mat-label>
          <input matInput type="number" placeholder="Value of visit payment" formControlName="paymentValueCtrl" required>
        </mat-form-field>
        <mat-form-field class="new-facility-input">
          <mat-label>Additional rules</mat-label>
          <input matInput placeholder="Additional on site visit regulations" formControlName="additionalRulesCtrl">
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-stroked-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form class="new-facility-form">
      <ng-template matStepLabel>Summary</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button mat-stroked-button (click)="createNewFacility()">Create</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
